<VirtualHost *:80>
	ServerName {{ wp_domain }}

	ServerAdmin {{ wp_admin_email }}
	DocumentRoot {{ wp_dir }}/public_html
    
	ErrorLog {{ wp_dir }}/logs/error.log
	CustomLog {{ wp_dir }}/logs/access.log combined
</VirtualHost>

<Directory {{ wp_dir }}/public_html>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
