;<?php die('Unauthorized Access...'); //SECURITY MECHANISM, DO NOT REMOVE//?>

[path]
base_url = /interface
log = /var/log/timetrex
storage = /var/timetrex/storage

php_cli = /usr/bin/php


[database]
type = postgres

host = {{ tx_db_host }}
database_name = {{ tx_db_name }}
user = {{ tx_db_user }}
password = {{ tx_db_pass }}

[cache]
enable = TRUE
dir = /tmp/timetrex


[debug]
production = TRUE

enable = FALSE
enable_display = FALSE
buffer_output = TRUE
enable_log = FALSE
verbosity = 10


[other]
force_ssl = FALSE
installer_enabled = TRUE
primary_company_id = 0

hostname = localhost

; WARNING: DO NOT CHANGE THIS AFTER YOU HAVE INSTALLED TIMETREX.
; If you do it will cause all your passwords to become invalid,
; and you may lose access to some encrypted data.
salt = "{{ tx_db_salt }}"
