<VirtualHost *:80>
	ServerName {{ nc_domain }}

	ServerAdmin {{ nc_admin_email }}
	DocumentRoot {{ nc_dir }}/public_html

    <Directory {{ nc_dir }}/public_html>

      Options +FollowSymLinks
      AllowOverride All

      <IfModule mod_dav.c>
        Dav off
      </IfModule>

      SetEnv HOME {{ nc_dir }}/public_html
      SetEnv HTTP_HOME {{ nc_dir }}/public_html

    </Directory>

	ErrorLog {{ nc_dir }}/logs/error.log
	CustomLog {{ nc_dir }}/logs/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet

